<head>
    <link rel="stylesheet" href="~/css/Winner.css" asp-append-version="true" />
    
</head>

 
<div>  

<table>
    <tr>
        <th colspan="2" scope="colgroup" style="text-align: center; padding-top:20px ">Forehand</th> 
        <th colspan="2" scope="colgroup" style="text-align: center;padding-top:20px ">Backhand</th>
    </tr>
    <tr style="background-color: lightblue;">
        <th scope="col">Outside</th>
        <th scope="col" style="border-color: lightblue; border-width: 0px 2px 0px 0px;">@ViewBag.winnerFHO</th>
        <th scope="col">Outside</th>
        <th scope="col" >@ViewBag.winnerBHO</th>
    </tr>
     <tr>
        <th scope="col">90</th>
        <th scope="col" style="border-color:lightblue; border-width: 0px 2px 0px 0px;">@ViewBag.winnerFHN</th>
        <th scope="col">90</th>
        <th scope="col"> @ViewBag.winnerBHN</th>
    </tr>
      <tr style="background-color: lightblue;">
        <th scope="col"style="border-bottom-left-radius: 20px;">Inside</th>
        <th scope="col" style="border-color: lightblue; border-width: 0px 2px 0px 0px;">@ViewBag.winnerFHI</th>
        <th scope="col"">Inside</th>
        <th scope="col" style="border-bottom-right-radius: 20px;">@ViewBag.winnerBHI</th>
    </tr>
</table>
</div>

