@model IEnumerable<ReportStats>
@{
    
}

<head>
    <link rel="stylesheet" href="~/css/Report.css" asp-append-version="true" />
    
</head>

@foreach(var item in Model){
<div id="name">
    <div id="firstPlayer"><div class="color" id="blue"><p style="width:500px">@item.FirstPlayer</p></div></div>
    <div id="secondPlayer"><div class="color" id="green"><p style="width:500px">@item.SecondPlayer</p></div></div>
</div>
<div style="width: 100%; height: 500px;">
    
    <table id="bar-graph">
        <caption>First Serve</caption>

        <tbody>
            <tr class="section-1">

                <td class="before bar"style="height:@item.fServePerc%"><p>@item.fServePerc%</p></td>
                <td class="after bar"style="height:@item.fServePercOP%"><p>@item.fServePercOP%</p></td>
            </tr>

        </tbody>

    </table>
    <div id="bar-ticks">
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
    </div>
 
    <table id="bar-graph-2" style="float:left">
        <caption>Second Serve</caption>

        <tbody>
            <tr class="section-1">

                <td class="before bar" style="height:@item.sServePerc%"><p>@item.sServePerc%</p></td>
                <td class="after bar" style="height:@item.sServePercOP%"><p>@item.sServePercOP%</p></td>
            </tr>

        </tbody>
    </table>
    
</div>
<div class="fsstats">
    <div class="serve-stat" ><p style="width:200px">Made: @item.fServeIN</p></div>
     <div class="serve-stat"><p style="width:200px">Missed: @item.fServeOUT</p></div>
</div>
<div class="ssstats" style="margin-left:-80px">
    <div class="serve-stat" ><p style="width:200px">Made: @item.sServeIN</p></div>
     <div class="serve-stat"><p style="width:200px">Missed: @item.sServeOUT</p></div>
</div>
 
<div id="Winner" style="text-align:center; margin-top:7rem;height: 300px; width: 100%;">
    <p>Winners</p>
    <div class="desc">Total<p style="padding-right:20px"><a href="javascript:void(0);" class="modalpopup" data-id=1 data-ajax=@item.MatId>@item.totalWinner</a></p></div>
        <div id="mymodal" class="modal">  
                <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"> ×</button>
                <div class="modal-dialog">    
                    <div class="myModalContent">
        
                    </div> 
                </div>   
            </div>  
    <div class="pie animate no-round" style="--p:@item.winnerPerc;--c:lightblue;"> @item.winnerPerc%</div>
    <div class="pie animate no-round" style="--p:@item.winnerPercOP;--c:lightgreen;"> @item.winnerPercOP%</div>
    <div class="desc">Total<p style="padding-right:20px"">@item.totalWinnerOP</p></div>  
           
</div>

 
<div id="UnforcedError" style="text-align:center; margin-top:4rem;height: 300px; width: 100%;">
    <p>Unforced Errors</p>
    <div class="desc">Total<p style="padding-right:20px"><a href="javascript:void(0);" class="modalpopup" data-id=2 data-ajax=@item.MatId>@item.totalUE</a></p></div>
        <div id="mymodal2" class="modal">  
                <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" >×</button>
                <div class="modal-dialog">    
                    <div class="myModalContent">
        
                    </div> 
                </div>   
            </div>  
    <div class="pie animate no-round" style="--p:@item.UEPercOP;--c:lightblue;"> @item.UEPercOP%</div>
    <div class="pie animate no-round" style="--p:@item.UEPercOP;--c:lightgreen;"> @item.UEPercOP%</div>
    <div class="desc">Total<p style="padding-right:20px"">@ViewBag.totalueOP</p></div>  
</div>

<div id="NetError" style="text-align: center; margin-top: 4rem;height: 300px; width: 100%; "> 
    <p>Net Errors</p>
    <div class="desc">Total<p style="padding-right:20px">@item.netError</p></div>
    <div class="pie animate no-round" style="--p:@item.netErrorPerc;--c:lightblue;"> @item.netErrorPerc%</div>
    <div class="pie animate no-round" style="--p:@item.netErrorPercOP;--c:lightgreen;"> @item.netErrorPercOP%</div>
    <div class="desc">Total<p style="padding-right:20px">@item.netErrorOP</p></div> 
</div>
<table id="extra">
    <tr>
        <td rowspan="2" style="background-color: #ddd; border-color:#ddd"></td>
        <th colspan="2" scope="colgroup" style="text-align: center; border-width:1px 10px 1px 1.5px;">Serve +1</th>
        <th colspan="2" scope="colgroup" style="text-align: center; border-width: 1px 1px 1px 10px;">Return +1</th>
    </tr>
    <tr>
        <th scope="col" style="background:#ddd; width:20%">Winner</th>
        <th scope="col" style="border-width: 0px 0px 0px 2px; background: #ddd; border-color:lightblue;">Error</th>
        <th scope="col" style="border-width: 1px 1px 1px 10px; background: #ddd;width:20%">Winner</th>
        <th scope="col" style="border-width: 0px 0px 0px 2px; background:#ddd; border-color:lightblue;">Error</th>
    </tr>
    <tr>
        <th scope="row" style="border-width: 1.5px 1px 1px 1px; background: #ddd">Forehand</th>
        <td>@item.spowf</td>
        <td style="border-width: 1px 10px 1px 1px;">@item.spoef</td>
        <td style="border-width: 1px 1px 1px 10px;">@item.rpowf</td>
        <td>@item.rpoef</td>
    </tr>
    <tr>
        <th scope="row" style="background: #ddd">Backhand</th>
        <td>@ViewBag.spowb</td>
        <td style="border-width: 1px 10px 1px 1px;">@item.spoeb</td>
        <td style="border-width: 1px 1px 1px 10px;">@item.rpowb</td>
        <td>@item.rpoeb</td>
    </tr>
</table>


 }       

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script>
   
     $(function () { 
    
        $(".modalpopup").click(function () {  
           
            var $buttonClicked = $(this);  
            var id = $buttonClicked.attr('data-id');  
            var MatId = $buttonClicked.attr('data-ajax');
            console.log(MatId);
            var options = { "backdrop": "static", keyboard: true }; 
            data={};
                data.id= id,
                data.MatId=MatId
                
            $.ajax({  
                type: "GET",  
                url: '/Account/ReportMatch',  
                contentType: "application/json; charset=utf-8",  
                data:data,
                datatype: "json",  
                success: function (data) {  
                     
                    $('.myModalContent').html(data);  
                    $('#mymodal').modal(options);  
                    $('#mymodal').modal('show');                    
                         
                    $('.myModalContent').html(data);  
                    $('#mymodal2').modal(options);  
                    $('#mymodal2').modal('show');  
      
                },  
                error: function () {  
                    alert("Dynamic content load failed.");  
                }  
            });  
        }); 
        $(".btn-close").click(function(){
             $('#mymodal').modal('hide');
             $('#mymodal2').modal('hide');
        });
       });
       
     </script>
}